<!DOCTYPE html>
html(lang="en")
    head
        title Password reset
    body
        form(action="/api/v1/auth/passwordReset/" + token, method="post")
            input(type="password", name="password", placeholder="New password")
            input(type="submit", value="Send")
        //- TODO: did submit with axios, did user friendly